:root {
    /* Fuente */
    --fuentePrincipal: 'League Spartan', sans-serif;
    --negro: #35352C;
    --blanco: #FFFFFF;
    --amarillo: #FFE53D;
    --negroOscuro: #1B2428;

    /* ModoClaro */
    --fondoPrincipal: #E6E6E6;
    --fondoPantalla: #EDEDED;
    --fondoTeclado: #D1CCCC;

    --teclaNumeroFondo: #E5E4E1;
    --teclaNumeroSombra: #A69D91;
    --teclaOperadorFondo: #377F86;
    --teclaOperadorSombra: #1B5F65;
    --teclaFuncionesFondo: #CA5502;
    --teclaFuncionesSombra: #893901;  
    
    /* ModoOscuro*/
    --fondoPrincipalDrk: #160628;
    --fondoPantallaDrk: #1D0934;
    --fondoTecladoDrk: #1D0934;

    --teclaNumeroFondoDrk: #58077D;
    --teclaNumeroSombraDrk: #BC15F4;
    --teclaOperadorFondoDrk: #341C4F;
    --teclaOperadorSombraDrk: #871C9C;
    --teclaFuncionesFondoDrk: #00E0D1;
    --teclaFuncionesSombraDrk: #6CF9F2;  
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    background-color: var(--fondoPrincipal);
}

img {
    max-width: 100%;
    display: block;
}

/*
    *==================
    *    Modo Claro
    *==================
*/
.calculadora {
    width: 100%;
    padding: 2rem;
}

@media (min-width: 768px) { 
    .calculadora {
        width: 50%;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30%;
}

@media (min-width: 1024px) { 
    .header {
        margin-top: 15%;
    }
}

.header h1 {
    color: #CA5502;
    font-size: 2.4rem;
}

@media (min-width: 1024px) { 
    .header h1 {
        font-size: 3.2rem;
    }
}

.header img {
    width: 3rem;
    height: 3rem;
}

@media (min-width: 1024px) { 
    .header img {
        width: 4rem;
        height: 4rem;
    }
}

.header img:hover {
    cursor: pointer;
}

.pantalla {
    margin: 3rem auto;
    padding: 2.5rem 2rem;
    max-width: 100%;
    word-wrap: break-word;
    background-color: var(--fondoPantalla);
    border-radius: .5rem;
    text-align: end;
    font-size: 2.4rem;
    color: var(--negro);
}

@media (min-width: 1024px) { 
    .pantalla {
        margin-top: 5rem;
        font-size: 3.2rem;
    }
}

.teclado {
    padding: 4rem 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 4.5rem);
    grid-template-rows: repeat(6, 4.5rem);
    justify-content: center;
    gap: 2rem;
    background-color: var(--fondoTeclado);
    border-radius: .5rem;
}

@media (min-width: 1024px) { 
    .teclado {
        grid-template-columns: repeat(5, 6rem);
        grid-template-rows: repeat(6, 6rem);
    }
}

.tecla {
    padding: 0 .6rem;
    font-size: 2.4rem;
    text-align: center;
    color: var(--negro);
    background-color: var(--teclaNumeroFondo);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2px 0 0 var(--teclaNumeroSombra);
}

@media (min-width: 1024px) { 
    .tecla {
        font-size: 3.2rem;
    }
}

.tecla:hover {
    cursor: pointer;
}

.tecla-operador {
    background-color: var(--teclaOperadorFondo);
    box-shadow: 0 2px 0 0 var(--teclaOperadorSombra);
    color: var(--blanco);
}

.tecla-operador img {
    filter: invert(100%);
}

.tecla-funcion {
    background-color: var(--teclaFuncionesFondo);
    box-shadow: 0 2px 0 0 var(--teclaFuncionesSombra);
    color: var(--blanco);
}

.tecla-funcion span {
    font-size: 1.3rem;
}